/* Original Dota2 Colors */
/*$player0-color: rgb(48, 116, 249);
$player1-color: rgb(102, 255, 192);
$player2-color: rgb(189, 0, 183);
$player3-color: rgb(248, 245, 10);
$player4-color: rgb(255, 105, 1);
$player5-color: rgb(255, 136, 197);
$player6-color: rgb(162, 179, 73);
$player7-color: rgb(99, 218, 250);
$player8-color: rgb(1, 131, 31);
$player9-color: rgb(159, 107, 0); */
/* Adjusted colors for visibility, to 100% saturation & 35% lightness */
.pick.hero1 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/antimage_full.png?);
}

.pick.hero2 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/axe_full.png?);
}

.pick.hero3 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/bane_full.png?);
}

.pick.hero4 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/bloodseeker_full.png?);
}

.pick.hero5 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/crystal_maiden_full.png?);
}

.pick.hero6 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/drow_ranger_full.png?);
}

.pick.hero7 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/earthshaker_full.png?);
}

.pick.hero8 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/juggernaut_full.png?);
}

.pick.hero9 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/mirana_full.png?);
}

.pick.hero10 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/morphling_full.png?);
}

.pick.hero11 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/nevermore_full.png?);
}

.pick.hero12 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/phantom_lancer_full.png?);
}

.pick.hero13 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/puck_full.png?);
}

.pick.hero14 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/pudge_full.png?);
}

.pick.hero15 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/razor_full.png?);
}

.pick.hero16 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/sand_king_full.png?);
}

.pick.hero17 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/storm_spirit_full.png?);
}

.pick.hero18 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/sven_full.png?);
}

.pick.hero19 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/tiny_full.png?);
}

.pick.hero20 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/vengefulspirit_full.png?);
}

.pick.hero21 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/windrunner_full.png?);
}

.pick.hero22 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/zuus_full.png?);
}

.pick.hero23 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/kunkka_full.png?);
}

.pick.hero25 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/lina_full.png?);
}

.pick.hero26 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/lion_full.png?);
}

.pick.hero27 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/shadow_shaman_full.png?);
}

.pick.hero28 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/slardar_full.png?);
}

.pick.hero29 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/tidehunter_full.png?);
}

.pick.hero30 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/witch_doctor_full.png?);
}

.pick.hero31 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/lich_full.png?);
}

.pick.hero32 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/riki_full.png?);
}

.pick.hero33 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/enigma_full.png?);
}

.pick.hero34 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/tinker_full.png?);
}

.pick.hero35 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/sniper_full.png?);
}

.pick.hero36 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/necrolyte_full.png?);
}

.pick.hero37 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/warlock_full.png?);
}

.pick.hero38 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/beastmaster_full.png?);
}

.pick.hero39 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/queenofpain_full.png?);
}

.pick.hero40 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/venomancer_full.png?);
}

.pick.hero41 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/faceless_void_full.png?);
}

.pick.hero42 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/skeleton_king_full.png?);
}

.pick.hero43 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/death_prophet_full.png?);
}

.pick.hero44 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/phantom_assassin_full.png?);
}

.pick.hero45 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/pugna_full.png?);
}

.pick.hero46 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/templar_assassin_full.png?);
}

.pick.hero47 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/viper_full.png?);
}

.pick.hero48 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/luna_full.png?);
}

.pick.hero49 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/dragon_knight_full.png?);
}

.pick.hero50 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/dazzle_full.png?);
}

.pick.hero51 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/rattletrap_full.png?);
}

.pick.hero52 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/leshrac_full.png?);
}

.pick.hero53 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/furion_full.png?);
}

.pick.hero54 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/life_stealer_full.png?);
}

.pick.hero55 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/dark_seer_full.png?);
}

.pick.hero56 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/clinkz_full.png?);
}

.pick.hero57 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/omniknight_full.png?);
}

.pick.hero58 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/enchantress_full.png?);
}

.pick.hero59 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/huskar_full.png?);
}

.pick.hero60 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/night_stalker_full.png?);
}

.pick.hero61 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/broodmother_full.png?);
}

.pick.hero62 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/bounty_hunter_full.png?);
}

.pick.hero63 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/weaver_full.png?);
}

.pick.hero64 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/jakiro_full.png?);
}

.pick.hero65 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/batrider_full.png?);
}

.pick.hero66 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/chen_full.png?);
}

.pick.hero67 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/spectre_full.png?);
}

.pick.hero68 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/ancient_apparition_full.png?);
}

.pick.hero69 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/doom_bringer_full.png?);
}

.pick.hero70 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/ursa_full.png?);
}

.pick.hero71 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/spirit_breaker_full.png?);
}

.pick.hero72 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/gyrocopter_full.png?);
}

.pick.hero73 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/alchemist_full.png?);
}

.pick.hero74 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/invoker_full.png?);
}

.pick.hero75 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/silencer_full.png?);
}

.pick.hero76 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/obsidian_destroyer_full.png?);
}

.pick.hero77 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/lycan_full.png?);
}

.pick.hero78 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/brewmaster_full.png?);
}

.pick.hero79 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/shadow_demon_full.png?);
}

.pick.hero80 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/lone_druid_full.png?);
}

.pick.hero81 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/chaos_knight_full.png?);
}

.pick.hero82 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/meepo_full.png?);
}

.pick.hero83 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/treant_full.png?);
}

.pick.hero84 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/ogre_magi_full.png?);
}

.pick.hero85 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/undying_full.png?);
}

.pick.hero86 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/rubick_full.png?);
}

.pick.hero87 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/disruptor_full.png?);
}

.pick.hero88 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/nyx_assassin_full.png?);
}

.pick.hero89 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/naga_siren_full.png?);
}

.pick.hero90 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/keeper_of_the_light_full.png?);
}

.pick.hero91 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/wisp_full.png?);
}

.pick.hero92 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/visage_full.png?);
}

.pick.hero93 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/slark_full.png?);
}

.pick.hero94 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/medusa_full.png?);
}

.pick.hero95 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/troll_warlord_full.png?);
}

.pick.hero96 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/centaur_full.png?);
}

.pick.hero97 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/magnataur_full.png?);
}

.pick.hero98 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/shredder_full.png?);
}

.pick.hero99 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/bristleback_full.png?);
}

.pick.hero100 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/tusk_full.png?);
}

.pick.hero101 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/skywrath_mage_full.png?);
}

.pick.hero102 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/abaddon_full.png?);
}

.pick.hero103 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/elder_titan_full.png?);
}

.pick.hero104 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/legion_commander_full.png?);
}

.pick.hero105 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/techies_full.png?);
}

.pick.hero106 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/ember_spirit_full.png?);
}

.pick.hero107 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/earth_spirit_full.png?);
}

.pick.hero108 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/abyssal_underlord_full.png?);
}

.pick.hero109 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/terrorblade_full.png?);
}

.pick.hero110 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/phoenix_full.png?);
}

.pick.hero111 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/oracle_full.png?);
}

.pick.hero112 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/winter_wyvern_full.png?);
}

.pick.hero113 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/arc_warden_full.png?);
}

.pick.hero114 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/monkey_king_full.png?);
}

.pick.hero119 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/dark_willow_full.png?);
}

.pick.hero120 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/pangolier_full.png?);
}

.pick.hero121 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/grimstroke_full.png?);
}

.pick.hero123 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/hoodwink_full.png?);
}

.pick.hero126 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/void_spirit_full.png?);
}

.pick.hero128 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/snapfire_full.png?);
}

.pick.hero129 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/mars_full.png?);
}

.pick.hero135 {
  background-image: url(https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/heroes/dawnbreaker.png);
}

.pick.hero136 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/dota_react/heroes/marci.png?);
}

.heroIcon.hero1 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/antimage_icon.png?");
}

.heroIcon.hero2 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/axe_icon.png?");
}

.heroIcon.hero3 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/bane_icon.png?");
}

.heroIcon.hero4 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/bloodseeker_icon.png?");
}

.heroIcon.hero5 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/crystal_maiden_icon.png?");
}

.heroIcon.hero6 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/drow_ranger_icon.png?");
}

.heroIcon.hero7 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/earthshaker_icon.png?");
}

.heroIcon.hero8 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/juggernaut_icon.png?");
}

.heroIcon.hero9 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/mirana_icon.png?");
}

.heroIcon.hero10 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/morphling_icon.png?");
}

.heroIcon.hero11 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/nevermore_icon.png?");
}

.heroIcon.hero12 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/phantom_lancer_icon.png?");
}

.heroIcon.hero13 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/puck_icon.png?");
}

.heroIcon.hero14 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/pudge_icon.png?");
}

.heroIcon.hero15 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/razor_icon.png?");
}

.heroIcon.hero16 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/sand_king_icon.png?");
}

.heroIcon.hero17 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/storm_spirit_icon.png?");
}

.heroIcon.hero18 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/sven_icon.png?");
}

.heroIcon.hero19 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/tiny_icon.png?");
}

.heroIcon.hero20 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/vengefulspirit_icon.png?");
}

.heroIcon.hero21 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/windrunner_icon.png?");
}

.heroIcon.hero22 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/zuus_icon.png?");
}

.heroIcon.hero23 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/kunkka_icon.png?");
}

.heroIcon.hero25 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/lina_icon.png?");
}

.heroIcon.hero26 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/lion_icon.png?");
}

.heroIcon.hero27 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/shadow_shaman_icon.png?");
}

.heroIcon.hero28 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/slardar_icon.png?");
}

.heroIcon.hero29 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/tidehunter_icon.png?");
}

.heroIcon.hero30 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/witch_doctor_icon.png?");
}

.heroIcon.hero31 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/lich_icon.png?");
}

.heroIcon.hero32 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/riki_icon.png?");
}

.heroIcon.hero33 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/enigma_icon.png?");
}

.heroIcon.hero34 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/tinker_icon.png?");
}

.heroIcon.hero35 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/sniper_icon.png?");
}

.heroIcon.hero36 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/necrolyte_icon.png?");
}

.heroIcon.hero37 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/warlock_icon.png?");
}

.heroIcon.hero38 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/beastmaster_icon.png?");
}

.heroIcon.hero39 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/queenofpain_icon.png?");
}

.heroIcon.hero40 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/venomancer_icon.png?");
}

.heroIcon.hero41 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/faceless_void_icon.png?");
}

.heroIcon.hero42 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/skeleton_king_icon.png?");
}

.heroIcon.hero43 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/death_prophet_icon.png?");
}

.heroIcon.hero44 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/phantom_assassin_icon.png?");
}

.heroIcon.hero45 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/pugna_icon.png?");
}

.heroIcon.hero46 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/templar_assassin_icon.png?");
}

.heroIcon.hero47 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/viper_icon.png?");
}

.heroIcon.hero48 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/luna_icon.png?");
}

.heroIcon.hero49 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/dragon_knight_icon.png?");
}

.heroIcon.hero50 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/dazzle_icon.png?");
}

.heroIcon.hero51 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/rattletrap_icon.png?");
}

.heroIcon.hero52 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/leshrac_icon.png?");
}

.heroIcon.hero53 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/furion_icon.png?");
}

.heroIcon.hero54 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/life_stealer_icon.png?");
}

.heroIcon.hero55 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/dark_seer_icon.png?");
}

.heroIcon.hero56 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/clinkz_icon.png?");
}

.heroIcon.hero57 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/omniknight_icon.png?");
}

.heroIcon.hero58 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/enchantress_icon.png?");
}

.heroIcon.hero59 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/huskar_icon.png?");
}

.heroIcon.hero60 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/night_stalker_icon.png?");
}

.heroIcon.hero61 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/broodmother_icon.png?");
}

.heroIcon.hero62 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/bounty_hunter_icon.png?");
}

.heroIcon.hero63 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/weaver_icon.png?");
}

.heroIcon.hero64 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/jakiro_icon.png?");
}

.heroIcon.hero65 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/batrider_icon.png?");
}

.heroIcon.hero66 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/chen_icon.png?");
}

.heroIcon.hero67 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/spectre_icon.png?");
}

.heroIcon.hero68 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/ancient_apparition_icon.png?");
}

.heroIcon.hero69 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/doom_bringer_icon.png?");
}

.heroIcon.hero70 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/ursa_icon.png?");
}

.heroIcon.hero71 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/spirit_breaker_icon.png?");
}

.heroIcon.hero72 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/gyrocopter_icon.png?");
}

.heroIcon.hero73 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/alchemist_icon.png?");
}

.heroIcon.hero74 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/invoker_icon.png?");
}

.heroIcon.hero75 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/silencer_icon.png?");
}

.heroIcon.hero76 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/obsidian_destroyer_icon.png?");
}

.heroIcon.hero77 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/lycan_icon.png?");
}

.heroIcon.hero78 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/brewmaster_icon.png?");
}

.heroIcon.hero79 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/shadow_demon_icon.png?");
}

.heroIcon.hero80 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/lone_druid_icon.png?");
}

.heroIcon.hero81 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/chaos_knight_icon.png?");
}

.heroIcon.hero82 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/meepo_icon.png?");
}

.heroIcon.hero83 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/treant_icon.png?");
}

.heroIcon.hero84 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/ogre_magi_icon.png?");
}

.heroIcon.hero85 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/undying_icon.png?");
}

.heroIcon.hero86 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/rubick_icon.png?");
}

.heroIcon.hero87 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/disruptor_icon.png?");
}

.heroIcon.hero88 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/nyx_assassin_icon.png?");
}

.heroIcon.hero89 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/naga_siren_icon.png?");
}

.heroIcon.hero90 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/keeper_of_the_light_icon.png?");
}

.heroIcon.hero91 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/wisp_icon.png?");
}

.heroIcon.hero92 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/visage_icon.png?");
}

.heroIcon.hero93 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/slark_icon.png?");
}

.heroIcon.hero94 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/medusa_icon.png?");
}

.heroIcon.hero95 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/troll_warlord_icon.png?");
}

.heroIcon.hero96 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/centaur_icon.png?");
}

.heroIcon.hero97 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/magnataur_icon.png?");
}

.heroIcon.hero98 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/shredder_icon.png?");
}

.heroIcon.hero99 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/bristleback_icon.png?");
}

.heroIcon.hero100 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/tusk_icon.png?");
}

.heroIcon.hero101 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/skywrath_mage_icon.png?");
}

.heroIcon.hero102 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/abaddon_icon.png?");
}

.heroIcon.hero103 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/elder_titan_icon.png?");
}

.heroIcon.hero104 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/legion_commander_icon.png?");
}

.heroIcon.hero105 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/techies_icon.png?");
}

.heroIcon.hero106 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/ember_spirit_icon.png?");
}

.heroIcon.hero107 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/earth_spirit_icon.png?");
}

.heroIcon.hero108 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/abyssal_underlord_icon.png?");
}

.heroIcon.hero109 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/terrorblade_icon.png?");
}

.heroIcon.hero110 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/phoenix_icon.png?");
}

.heroIcon.hero111 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/oracle_icon.png?");
}

.heroIcon.hero112 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/winter_wyvern_icon.png?");
}

.heroIcon.hero113 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/arc_warden_icon.png?");
}

.heroIcon.hero114 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/monkey_king_icon.png?");
}

.heroIcon.hero119 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/dark_willow_icon.png?");
}

.heroIcon.hero120 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/pangolier_icon.png?");
}

.heroIcon.hero121 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/grimstroke_icon.png?");
}

.heroIcon.hero123 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/hoodwink_icon.png?");
}

.heroIcon.hero126 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/void_spirit_icon.png?");
}

.heroIcon.hero128 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/snapfire_icon.png?");
}

.heroIcon.hero129 {
  content: url("https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/mars_icon.png?");
}

.heroIcon.hero135 {
  content: url("https://cdn.stratz.com/images/dota2/heroes/dawnbreaker_icon.png");
}

.heroIcon.hero136 {
  content: url("https://cdn.stratz.com/images/dota2/heroes/marci_icon.png");
}

@font-face {
  font-family: "Radiance";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.eot");
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.eot?#iefix") format("embedded-opentype"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.woff") format("woff"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.ttf") format("truetype"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.svg#ywftsvg") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Radiance", "Open Sans", sans-serif;
  margin: 0;
  transition: 100ms;
}

body {
  background: linear-gradient(#212121, #454545);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em;
  /* Just for easy math, width is set */
}

span {
  color: #fff;
}

#players {
  position: sticky;
  top: 0;
  padding: 1em;
  background-color: #212121;
  display: grid;
  grid-template-columns: repeat(5, 1fr) 0.75fr repeat(5, 1fr);
  grid-gap: 0.5em;
  grid-auto-flow: column;
  justify-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form {
  display: none;
}

.playerId {
  max-width: 10ch;
  grid-row: 2;
  margin: auto;
}

.row1 {
  grid-row: 1;
}

.label_role {
  grid-row: 3;
  margin: auto;
}

.playerRole {
  max-width: 1ch;
}

.order-before {
  order: -1;
}

.grid-row-two {
  grid-row: 2;
}

input[type=number] {
  height: 1ch;
  padding: 0.6em 0.45em 0.45em 0.45em;
  border-radius: 5px;
}

#patch_range {
  width: 1ch;
}

#buttonEnterIds {
  border: #aaa;
  border-radius: 1em;
  border-style: ridge;
  border-width: 3px;
  padding: 0.5em;
  color: white;
  font-size: 0.75em;
  margin: auto;
  text-align: center;
  background-color: #212121;
}

/* Drop shadow: might add back if colors can move to similar saturation/brightness. 
    #pick0main {
        filter: drop-shadow(0 0 5px colors.$player0-color);
    }
    #pick1main {
        filter: drop-shadow(0 0 5px colors.$player1-color);
    }
    #pick2main {
        filter: drop-shadow(0 0 5px colors.$player2-color);
    }
    #pick3main {
        filter: drop-shadow(0 0 5px colors.$player3-color);
    }
    #pick4main {
        filter: drop-shadow(0 0 5px colors.$player4-color);
    }
    #pick5main {
        filter: drop-shadow(0 0 5px colors.$player5-color);
    }
    #pick6main {
        filter: drop-shadow(0 0 5px colors.$player6-color);
    }
    #pick7main {
        filter: drop-shadow(0 0 5px colors.$player7-color);
    }
    #pick8main {
        filter: drop-shadow(0 0 5px colors.$player8-color);
    }
    #pick9main {
        filter: drop-shadow(0 0 5px colors.$player9-color);
    }
*/
.player_border {
  /* padding: 0 0 12px 0; */
  margin: 5px 0;
  text-align: center;
  border-radius: 0.5em;
}

.center_column {
  grid-column: 6;
}

.centered_text {
  text-align: center;
}

.player0 {
  grid-column: 1;
}
.player0__border {
  background: linear-gradient(79deg, #212121, #003cb3, #003cb3, #212121);
}

.player1 {
  grid-column: 2;
}
.player1__border {
  background: linear-gradient(79deg, #212121, #00b368, #00b368, #212121);
}

.player2 {
  grid-column: 3;
}
.player2__border {
  background: linear-gradient(79deg, #212121, #b300ad, #b300ad, #212121);
}

.player3 {
  grid-column: 4;
}
.player3__border {
  background: linear-gradient(79deg, #212121, #b3b000, #b3b000, #212121);
}

.player4 {
  grid-column: 5;
}
.player4__border {
  background: linear-gradient(79deg, #212121, #b34a00, #b34a00, #212121);
}

.player5 {
  grid-column: 7;
}
.player5__border {
  background: linear-gradient(101deg, #212121, #b3005c, #b3005c, #212121);
}

.player6 {
  grid-column: 8;
}
.player6__border {
  background: linear-gradient(101deg, #212121, #95b300, #95b300, #212121);
}

.player7 {
  grid-column: 9;
}
.player7__border {
  background: linear-gradient(101deg, #212121, #008cb3, #008cb3, #212121);
}

.player8 {
  grid-column: 10;
}
.player8__border {
  background: linear-gradient(101deg, #212121, #00b32a, #00b32a, #212121);
}

.player9 {
  grid-column: 11;
}
.player9__border {
  background: linear-gradient(101deg, #212121, #b37700, #b37700, #212121);
}

.pick {
  /* 'display: none' until picking functionality can be added. */
  border-radius: 0.5em 0.5em 0 0;
  aspect-ratio: 16/9;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(#212121, #454545);
  /* make light even lighter? #777 */
  position: relative;
}

.player_rank {
  color: #fff;
  text-shadow: 0 -1px 0.5em black;
  font-size: 0.75em;
  white-space: nowrap;
  overflow: hidden;
}

.player_name {
  position: static;
  width: 100%;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: bottom;
  line-height: 1em;
}

.player_role {
  width: 100%;
  color: #aaa;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: bottom;
  font-size: 0.8rem;
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0.8rem;
  white-space: nowrap;
}

/* Rank images: Unused for now
    .rankCard {
        justify-content:center;
        width: 50%;
        aspect-ratio: 1;
        background-size: cover;
        background-position: center;
        background-position-y: 10px;
    }
    .rankStar {
        width: 100%;
        height: 100%;
        top: 8px;
        position: relative;
    } 
*/
.options_grid {
  display: grid;
  grid-template-columns: repeat(5, 9.25%) 7.5% repeat(5, 9.25%);
  grid-gap: 0.5em;
  grid-auto-flow: column;
  width: calc(100% - 5em);
  box-sizing: border-box;
}
.options_grid > .banned {
  display: none;
}

.noHeroData {
  display: none;
  width: 100%;
  text-shadow: 0px 0px 10px black;
  color: white;
  text-align: center;
  align-items: center;
  order: -9999;
  grid-row: span 3;
}

.noPlayerData {
  display: none;
  text-shadow: 0px 0px 10px black;
  color: white;
  text-align: center;
  align-items: center;
}

.heroCard {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 0.75rem;
  box-sizing: border-box;
  text-shadow: 0px 0px 10px black;
  color: white;
  box-shadow: 0 2px 5px 0px black;
  border-radius: 0.5em;
  width: 100%;
}
.heroCard:not(.expanded) .collapsingCard {
  display: none;
}
.heroCard.expanded {
  grid-row-end: span 2;
}
.heroCard .heroIcon {
  pointer-events: none;
  height: 2.5rem;
  margin: auto;
  float: left;
}
.heroCard .container {
  width: 100%;
  clear: both;
  pointer-events: none;
}

label {
  font-size: 0.5em;
  color: #fff;
}

.draggable {
  cursor: grab;
}
.draggable.dragging {
  opacity: 0.5;
}

.picked {
  display: none;
}

#banbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100%;
  grid-row-end: span 5;
  align-content: flex-start;
  box-shadow: 0 2px 5px 0 #000 inset, 0 0px 1px 0 #fff inset;
  border-radius: 0.5em;
  padding: 0.5em;
}
#banbox > .icon {
  display: none;
}
#banbox > .banned {
  display: flex;
  opacity: 0.8;
}

#ban-title {
  width: 100%;
  text-align: center;
}

.icon {
  width: 2em;
  height: 2em;
  background-size: cover;
}

.glow {
  filter: drop-shadow(0 0 0.25em white);
  background-image: none;
  background-color: #555;
}

.cardTitle {
  float: left;
  opacity: 0.8;
  font-size: 0.7rem;
  margin: 0.1rem 0;
}

.cardData {
  float: right;
}

.heroScore {
  margin: 0.75rem 0;
}

.collapsingCard {
  pointer-events: none;
}
.collapsingCard .cardData {
  font-size: 0.8rem;
  line-height: 0.8rem;
  margin: 0.1rem 0;
}

.unknownValue {
  font-size: 0.6rem;
  opacity: 0.8;
  margin: 0.1rem 0;
}

/*# sourceMappingURL=index.css.map */
