/* Original Dota2 Colors */
/*$player0-color: rgb(48, 116, 249);
$player1-color: rgb(102, 255, 192);
$player2-color: rgb(189, 0, 183);
$player3-color: rgb(248, 245, 10);
$player4-color: rgb(255, 105, 1);
$player5-color: rgb(255, 136, 197);
$player6-color: rgb(162, 179, 73);
$player7-color: rgb(99, 218, 250);
$player8-color: rgb(1, 131, 31);
$player9-color: rgb(159, 107, 0); */
/* Adjusted colors for visibility, to 100% saturation & 35% lightness */
.hero1 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/antimage_full.png?);
}

.hero2 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/axe_full.png?);
}

.hero3 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/bane_full.png?);
}

.hero4 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/bloodseeker_full.png?);
}

.hero5 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/crystal_maiden_full.png?);
}

.hero6 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/drow_ranger_full.png?);
}

.hero7 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/earthshaker_full.png?);
}

.hero8 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/juggernaut_full.png?);
}

.hero9 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/mirana_full.png?);
}

.hero10 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/morphling_full.png?);
}

.hero11 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/nevermore_full.png?);
}

.hero12 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/phantom_lancer_full.png?);
}

.hero13 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/puck_full.png?);
}

.hero14 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/pudge_full.png?);
}

.hero15 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/razor_full.png?);
}

.hero16 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/sand_king_full.png?);
}

.hero17 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/storm_spirit_full.png?);
}

.hero18 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/sven_full.png?);
}

.hero19 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/tiny_full.png?);
}

.hero20 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/vengefulspirit_full.png?);
}

.hero21 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/windrunner_full.png?);
}

.hero22 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/zuus_full.png?);
}

.hero23 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/kunkka_full.png?);
}

.hero25 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/lina_full.png?);
}

.hero26 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/lion_full.png?);
}

.hero27 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/shadow_shaman_full.png?);
}

.hero28 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/slardar_full.png?);
}

.hero29 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/tidehunter_full.png?);
}

.hero30 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/witch_doctor_full.png?);
}

.hero31 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/lich_full.png?);
}

.hero32 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/riki_full.png?);
}

.hero33 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/enigma_full.png?);
}

.hero34 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/tinker_full.png?);
}

.hero35 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/sniper_full.png?);
}

.hero36 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/necrolyte_full.png?);
}

.hero37 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/warlock_full.png?);
}

.hero38 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/beastmaster_full.png?);
}

.hero39 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/queenofpain_full.png?);
}

.hero40 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/venomancer_full.png?);
}

.hero41 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/faceless_void_full.png?);
}

.hero42 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/skeleton_king_full.png?);
}

.hero43 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/death_prophet_full.png?);
}

.hero44 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/phantom_assassin_full.png?);
}

.hero45 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/pugna_full.png?);
}

.hero46 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/templar_assassin_full.png?);
}

.hero47 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/viper_full.png?);
}

.hero48 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/luna_full.png?);
}

.hero49 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/dragon_knight_full.png?);
}

.hero50 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/dazzle_full.png?);
}

.hero51 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/rattletrap_full.png?);
}

.hero52 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/leshrac_full.png?);
}

.hero53 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/furion_full.png?);
}

.hero54 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/life_stealer_full.png?);
}

.hero55 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/dark_seer_full.png?);
}

.hero56 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/clinkz_full.png?);
}

.hero57 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/omniknight_full.png?);
}

.hero58 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/enchantress_full.png?);
}

.hero59 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/huskar_full.png?);
}

.hero60 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/night_stalker_full.png?);
}

.hero61 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/broodmother_full.png?);
}

.hero62 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/bounty_hunter_full.png?);
}

.hero63 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/weaver_full.png?);
}

.hero64 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/jakiro_full.png?);
}

.hero65 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/batrider_full.png?);
}

.hero66 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/chen_full.png?);
}

.hero67 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/spectre_full.png?);
}

.hero68 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/ancient_apparition_full.png?);
}

.hero69 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/doom_bringer_full.png?);
}

.hero70 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/ursa_full.png?);
}

.hero71 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/spirit_breaker_full.png?);
}

.hero72 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/gyrocopter_full.png?);
}

.hero73 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/alchemist_full.png?);
}

.hero74 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/invoker_full.png?);
}

.hero75 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/silencer_full.png?);
}

.hero76 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/obsidian_destroyer_full.png?);
}

.hero77 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/lycan_full.png?);
}

.hero78 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/brewmaster_full.png?);
}

.hero79 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/shadow_demon_full.png?);
}

.hero80 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/lone_druid_full.png?);
}

.hero81 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/chaos_knight_full.png?);
}

.hero82 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/meepo_full.png?);
}

.hero83 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/treant_full.png?);
}

.hero84 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/ogre_magi_full.png?);
}

.hero85 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/undying_full.png?);
}

.hero86 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/rubick_full.png?);
}

.hero87 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/disruptor_full.png?);
}

.hero88 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/nyx_assassin_full.png?);
}

.hero89 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/naga_siren_full.png?);
}

.hero90 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/keeper_of_the_light_full.png?);
}

.hero91 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/wisp_full.png?);
}

.hero92 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/visage_full.png?);
}

.hero93 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/slark_full.png?);
}

.hero94 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/medusa_full.png?);
}

.hero95 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/troll_warlord_full.png?);
}

.hero96 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/centaur_full.png?);
}

.hero97 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/magnataur_full.png?);
}

.hero98 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/shredder_full.png?);
}

.hero99 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/bristleback_full.png?);
}

.hero100 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/tusk_full.png?);
}

.hero101 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/skywrath_mage_full.png?);
}

.hero102 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/abaddon_full.png?);
}

.hero103 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/elder_titan_full.png?);
}

.hero104 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/legion_commander_full.png?);
}

.hero105 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/techies_full.png?);
}

.hero106 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/ember_spirit_full.png?);
}

.hero107 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/earth_spirit_full.png?);
}

.hero108 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/abyssal_underlord_full.png?);
}

.hero109 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/terrorblade_full.png?);
}

.hero110 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/phoenix_full.png?);
}

.hero111 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/oracle_full.png?);
}

.hero112 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/winter_wyvern_full.png?);
}

.hero113 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/arc_warden_full.png?);
}

.hero114 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/monkey_king_full.png?);
}

.hero119 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/dark_willow_full.png?);
}

.hero120 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/pangolier_full.png?);
}

.hero121 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/grimstroke_full.png?);
}

.hero123 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/hoodwink_full.png?);
}

.hero126 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/void_spirit_full.png?);
}

.hero128 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/snapfire_full.png?);
}

.hero129 {
  background-image: url(https://steamcdn-a.akamaihd.net/apps/dota2/images/heroes/mars_full.png?);
}

.hero135 {
  background-image: url(https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/heroes/dawnbreaker.png);
}

@font-face {
  font-family: "Radiance";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.eot");
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.eot?#iefix") format("embedded-opentype"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.woff") format("woff"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.ttf") format("truetype"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.svg#ywftsvg") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Radiance", "Open Sans", sans-serif;
  margin: 0;
}

body {
  background: linear-gradient(#212121, #454545);
  background-repeat: no-repeat;
  background-size: cover;
  /* Just for easy math, width is set */
}

#players {
  position: sticky;
  top: 0;
  padding: 1em;
  background-color: #212121;
  display: grid;
  grid-template-columns: repeat(5, 1fr) 0.75fr repeat(5, 1fr);
  grid-gap: 0.5em;
  grid-auto-flow: column;
  justify-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form {
  display: none;
}

.playerId {
  max-width: 10ch;
  grid-row: 1;
  margin: auto;
}

.playerRole {
  max-width: 1ch;
}

.order-before {
  order: -1;
}

.grid-row-two {
  grid-row: 2;
}

input[type=number] {
  height: 1ch;
  padding: 0.6em 0.45em 0.45em 0.45em;
  border-radius: 5px;
}

#patch_range {
  width: 1ch;
}

#buttonEnterIds {
  border: #aaa;
  border-radius: 1em;
  border-style: ridge;
  border-width: 3px;
  padding: 0.5em;
  color: white;
  font-size: 0.75em;
  margin: auto;
  text-align: center;
  background-color: #212121;
}

/* Drop shadow: might add back if colors can move to similar saturation/brightness. 
    #pick0main {
        filter: drop-shadow(0 0 5px colors.$player0-color);
    }
    #pick1main {
        filter: drop-shadow(0 0 5px colors.$player1-color);
    }
    #pick2main {
        filter: drop-shadow(0 0 5px colors.$player2-color);
    }
    #pick3main {
        filter: drop-shadow(0 0 5px colors.$player3-color);
    }
    #pick4main {
        filter: drop-shadow(0 0 5px colors.$player4-color);
    }
    #pick5main {
        filter: drop-shadow(0 0 5px colors.$player5-color);
    }
    #pick6main {
        filter: drop-shadow(0 0 5px colors.$player6-color);
    }
    #pick7main {
        filter: drop-shadow(0 0 5px colors.$player7-color);
    }
    #pick8main {
        filter: drop-shadow(0 0 5px colors.$player8-color);
    }
    #pick9main {
        filter: drop-shadow(0 0 5px colors.$player9-color);
    }
*/
.player_border {
  /* padding: 0 0 12px 0; */
  margin: 5px 0;
  text-align: center;
}

.center_column {
  grid-column: 6;
}

.centered_text {
  text-align: center;
}

.player0 {
  grid-column: 1;
}
.player0__border {
  background: linear-gradient(79deg, #212121, #003cb3, #003cb3, #212121);
}

.player1 {
  grid-column: 2;
}
.player1__border {
  background: linear-gradient(79deg, #212121, #00b368, #00b368, #212121);
}

.player2 {
  grid-column: 3;
}
.player2__border {
  background: linear-gradient(79deg, #212121, #b300ad, #b300ad, #212121);
}

.player3 {
  grid-column: 4;
}
.player3__border {
  background: linear-gradient(79deg, #212121, #b3b000, #b3b000, #212121);
}

.player4 {
  grid-column: 5;
}
.player4__border {
  background: linear-gradient(79deg, #212121, #b34a00, #b34a00, #212121);
}

.player5 {
  grid-column: 7;
}
.player5__border {
  background: linear-gradient(101deg, #212121, #b3005c, #b3005c, #212121);
}

.player6 {
  grid-column: 8;
}
.player6__border {
  background: linear-gradient(101deg, #212121, #95b300, #95b300, #212121);
}

.player7 {
  grid-column: 9;
}
.player7__border {
  background: linear-gradient(101deg, #212121, #008cb3, #008cb3, #212121);
}

.player8 {
  grid-column: 10;
}
.player8__border {
  background: linear-gradient(101deg, #212121, #00b32a, #00b32a, #212121);
}

.player9 {
  grid-column: 11;
}
.player9__border {
  background: linear-gradient(101deg, #212121, #b37700, #b37700, #212121);
}

.pick {
  /* 'display: none' until picking functionality can be added. */
  display: none;
  aspect-ratio: 16/9;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(#212121, #454545);
  /* make light even lighter? #777 */
  position: relative;
}

.player_rank {
  color: #fff;
  text-shadow: 0 -1px 4px black;
  font-size: 12px;
}

.player_name {
  position: static;
  width: 8vw;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  text-shadow: 0 0 2px;
  vertical-align: bottom;
  line-height: 1em;
}

/* Rank images: Unused for now
    .rankCard {
        justify-content:center;
        width: 50%;
        aspect-ratio: 1;
        background-size: cover;
        background-position: center;
        background-position-y: 10px;
    }
    .rankStar {
        width: 100%;
        height: 100%;
        top: 8px;
        position: relative;
    } 
*/
.options_grid {
  padding: 0 1em 1em 1em;
  display: grid;
  grid-template-columns: repeat(5, 1fr) 0.75fr repeat(5, 1fr);
  grid-gap: 0.5em;
  grid-auto-flow: column;
}

.noHeroData {
  display: none;
  width: 100%;
  aspect-ratio: 16/9;
  text-shadow: 0px 0px 10px black;
  color: white;
  text-align: center;
  align-items: center;
  order: -9999;
}

.noPlayerData {
  display: none;
  text-shadow: 0px 0px 10px black;
  color: white;
  text-align: center;
  align-items: center;
}

.heroCard {
  display: none;
  background-size: cover;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  text-shadow: 0px 0px 10px black;
  color: white;
  box-shadow: 0 2px 5px 0px black;
  border-radius: 0.5em;
  width: 100%;
  aspect-ratio: 16/9;
}

label {
  font-size: 0.5em;
  color: #fff;
}

/*# sourceMappingURL=index.css.map */
