@use "colors";
@use "hero-images";
@font-face {
    font-family:"Radiance";
    src:url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.eot");
    src:url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.eot?#iefix") format("embedded-opentype"),url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.woff") format("woff"),url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.ttf") format("truetype"),url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.svg#ywftsvg") format("svg");
    font-weight:normal;
    font-style:normal;
}
* {
    font-family: "Radiance",'Open Sans', sans-serif;
    // transition: all .3s ease-in;
}
body {
    background: linear-gradient(colors.$background-dark, colors.$background-light);
    background-repeat: no-repeat;
    background-size: cover;
    /* Just for easy math, width is set */
    margin: 0;
}
.frame-drag {
    position: absolute;
    height: 22px;
    top: 0;
    width: 100%;
}
#players {
    position: sticky;
    top: 0;
    padding: 22px 1em 1em 1em;
    background-color: colors.$background-dark;
    display: grid;
    grid-template-columns: repeat(5, 1fr) 0.75fr repeat(5, 1fr);
    grid-gap: 0.5em;
    grid-auto-flow: column;
}
/* Drop shadow: might add back if colors can move to similar saturation/brightness. 
    #pick0main {
        filter: drop-shadow(0 0 5px colors.$player0-color);
    }
    #pick1main {
        filter: drop-shadow(0 0 5px colors.$player1-color);
    }
    #pick2main {
        filter: drop-shadow(0 0 5px colors.$player2-color);
    }
    #pick3main {
        filter: drop-shadow(0 0 5px colors.$player3-color);
    }
    #pick4main {
        filter: drop-shadow(0 0 5px colors.$player4-color);
    }
    #pick5main {
        filter: drop-shadow(0 0 5px colors.$player5-color);
    }
    #pick6main {
        filter: drop-shadow(0 0 5px colors.$player6-color);
    }
    #pick7main {
        filter: drop-shadow(0 0 5px colors.$player7-color);
    }
    #pick8main {
        filter: drop-shadow(0 0 5px colors.$player8-color);
    }
    #pick9main {
        filter: drop-shadow(0 0 5px colors.$player9-color);
    }
*/

.player_border {
    /* padding: 0 0 12px 0; */
    margin: 5px 0;
    text-align: center;
}
.center_column {
    grid-column: 6;
}
.player0 {
    grid-column: 1;
    &__border {
        background: linear-gradient(79deg, colors.$background-dark,colors.$player0-color, colors.$player0-color, colors.$background-dark);
    }
}
.player1 {
    grid-column: 2;
    &__border {
        background: linear-gradient(79deg, colors.$background-dark,colors.$player1-color, colors.$player1-color, colors.$background-dark);
    }
}
.player2 {
    grid-column: 3;
    &__border {
        background: linear-gradient(79deg, colors.$background-dark,colors.$player2-color, colors.$player2-color, colors.$background-dark);
    }
}
.player3 {
    grid-column: 4;
    &__border {
        background: linear-gradient(79deg, colors.$background-dark,colors.$player3-color, colors.$player3-color, colors.$background-dark);
    }
}
.player4 {
    grid-column: 5;
    &__border {
        background: linear-gradient(79deg, colors.$background-dark,colors.$player4-color, colors.$player4-color, colors.$background-dark);
    }
}
.player5 {
    grid-column: 7;
    &__border {
        background: linear-gradient(101deg, colors.$background-dark,colors.$player5-color, colors.$player5-color, colors.$background-dark);
    }
}
.player6 {
    grid-column: 8;
    &__border {
        background: linear-gradient(101deg, colors.$background-dark,colors.$player6-color, colors.$player6-color, colors.$background-dark);
    }
}
.player7 {
    grid-column: 9;
    &__border {
        background: linear-gradient(101deg, colors.$background-dark,colors.$player7-color, colors.$player7-color, colors.$background-dark);
    }
}
.player8 {
    grid-column: 10;
    &__border {
        background: linear-gradient(101deg, colors.$background-dark,colors.$player8-color, colors.$player8-color, colors.$background-dark);
    }
}
.player9 {
    grid-column: 11;
    &__border {
        background: linear-gradient(101deg, colors.$background-dark,colors.$player9-color, colors.$player9-color, colors.$background-dark);
    }
}
.pick {
    /* 'display: none' until picking functionality can be added. */
    display: none;
    aspect-ratio: 16/9;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(colors.$background-dark,colors.$background-light); /* make light even lighter? #777 */
    position: relative;
}
.player_rank {
    color: #fff;
    text-shadow: 0 -1px 4px black;
    font-size: 12px;
}
.player_name {
    position: static;
    width: 8vw;
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    text-shadow: 0 0 2px;
    vertical-align: bottom;
}
/* Rank images: Unused for now
    .rankCard {
        justify-content:center;
        width: 50%;
        aspect-ratio: 1;
        background-size: cover;
        background-position: center;
        background-position-y: 10px;
    }
    .rankStar {
        width: 100%;
        height: 100%;
        top: 8px;
        position: relative;
    } 
*/
.options_grid {
    padding: 0 1em 1em 1em;
    display: grid;
    grid-template-columns: repeat(5, 1fr) 0.75fr repeat(5, 1fr);
    grid-gap: 0.5em;
    grid-auto-flow: column;
}
.heroCard {
    background-size: cover;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    text-shadow: 0px 0px 10px black;
    color: white;
    box-shadow: 0 2px 5px 0px black;
    border-radius: 0.5em;
    width: 100%;
    aspect-ratio: 16/9;
}